.gradle
!settings.gradle
  
# Local configuration file (sdk path, etc)
*.properties
!gradle-wrapper.properties
!version.properties
  
# Android Studio
.idea
build
*.iml
*.iws
*.ipr
*.swp
*~
~$*

.DS_Store
*.jks
